
## SF Salaries Exercise 


For this exercise, you will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!. You can also used the SF Salaries Dataset on D2L to answer the questions. Please download the "Salaries.csv" file from kaggle or D2L and complete the below exercises. Please submit the completed jupyter notebook file to D2L.

## **Exercise 1**

**Import pandas as pd.**

In [2]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [3]:
file_path = '/Users/lele/Desktop/CPSC 4800/Salaries.csv'

In [13]:
sal = pd.read_csv(file_path)
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Check the head of the DataFrame.**

In [5]:
head = sal.head()
head

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Exercise 2 - Use the .info() method to find out how many entries there are.**

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Exercise 3 - What is the average BasePay ?**

In [7]:
mean_BasePay = sal['BasePay'].mean()
mean_BasePay

66325.44884050643

**Exercise 4 - What is the highest amount of OvertimePay in the dataset ?**

In [8]:
max_OvertimePay = sal['OvertimePay'].max()
max_OvertimePay

245131.88

**Exercise 5 - What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [9]:
name = "JOSEPH DRISCOLL"
filtered_sal = sal[sal['EmployeeName'] == name]
job_title = filtered_sal.iloc[0]['JobTitle']
job_title

'CAPTAIN, FIRE SUPPRESSION'

**Exercise 6 - How much does JOSEPH DRISCOLL make (including benefits)?**

In [11]:
person_name = "JOSEPH DRISCOLL"
joseph_data = sal[sal['EmployeeName'] == person_name]
total_salary = joseph_data['TotalPayBenefits'].sum()
total_salary

270324.91

**Exercise 7 - What is the name of highest paid person (including benefits)?**

In [15]:
sal = sal.sort_values(by='TotalPayBenefits', ascending=False)
highest_paid_person = sal.iloc[0][['EmployeeName', 'TotalPayBenefits']]
highest_paid_person

EmployeeName        NATHANIEL FORD
TotalPayBenefits         567595.43
Name: 0, dtype: object

**Exercise 8 - What is the name of lowest paid person (including benefits)?**

In [16]:
lowest_paid_person = sal.nsmallest(1, 'TotalPayBenefits')[['EmployeeName', 'TotalPayBenefits']]
lowest_paid_person

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

**Exercise 9 - What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [17]:
filtered_sal = sal[(sal['Year'] >= 2011) & (sal['Year'] <= 2014)]
average_basepay_per_year = filtered_sal.groupby('Year')['BasePay'].mean()
average_basepay_per_year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Exercise 10 - How many unique job titles are there?**

In [18]:
num_unique_job_titles = sal['JobTitle'].nunique()
num_unique_job_titles

2159

**Exercise 11 - What are the top 5 most common jobs?**

In [20]:
top_5_common_jobs = sal['JobTitle'].value_counts().head(5)
top_5_common_jobs

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Exercise 12 - How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [21]:
sal_2013 = sal[sal['Year'] == 2013]
job_title_counts = sal_2013['JobTitle'].value_counts()
job_titles_with_one_person = (job_title_counts == 1).sum()
job_titles_with_one_person

202

**Exercise 13: Is there a correlation between length of the Job Title string and Salary?**

In [24]:
# Create a new column 'TitleLength' containing the length of job titles
sal['TitleLength'] = sal['JobTitle'].apply(len)

# Calculate the correlation using the corr() method
correlation = sal['TitleLength'].corr(sal['TotalPay'])

print("Correlation between Title Length and Salary:", correlation)

Correlation between Title Length and Salary: -0.015356226699094576

#### Answer: 
There is a weak, low and negative correlation between Job Title and Salary variables.